	ul#mainMenu, ul  {
		color:#000000;
		padding:0;
		margin:0;
		list-style-type:none;
		float:right;
	}

	ul#mainMenu li {
		color:white;
		text-decoration:none;
/*		atext-align:center;*/
		font-weight:bold;
		float:left;
		padding-left:20px;
		padding-right:10px;
/*		awidth:105px;*/
	}

	ul#mainMenu a {
		color:white;
		display:block;
		text-decoration:none;
		font-weight:bold;
	}
	ul#mainMenu a:hover {
		background-color:white;
		color:rgb(73, 85, 120);
	 }

	ul#mainMenu ul a {
		padding-left:2px;
		color:rgb(73, 85, 120);
	}

	ul#mainMenu ul a:hover {
		color:white;
		aborder-left:20px solid rgb(73, 85, 120);
		aborder-right:20px solid rgb(73, 85, 120);
		background-color:rgb(73, 85, 120);
	}

	ul#mainMenu ul li {
	 	width:160px;
	}

	ul#mainMenu ul {
		text-align:left;
		position:absolute;
		visibility:hidden;
		aborder-bottom:1px solid white;
		background-color:white;
		border:1px solid black;
		width:160px;
	}

	ul#mainMenu li:hover ul, ul#mainMenu li.hover ul{
		visibility:visible;
	}

	ul#mainMenu li li {
		float:none;
		border:none;
		padding:0;
		text-align:left;
	}

.print_css {
		visibility:visible;
	}

.telo {
	text-align:center;
    padding-top:90px;
	height: 60%;
	overflow: auto;
	}

.tlacitko_zpet {
	background: url(res/back.gif) no-repeat;
    padding-left:12px;
	}

.tlacitko_zmazat {
	background: url(res/erase.gif) no-repeat;
    padding-left:12px;
    }

.tlacitko_ulozit {
	background: url(res/save.gif) no-repeat;
    padding-left:12px;
	}

.tlacitko_zmenit {
	background: url(res/change.gif) no-repeat;
    padding-left:12px;
    }

.tlacitko_delete {
	background: url(res/delete.gif) no-repeat;
    padding-left:12px;
	}

.tlacitko_print {
/*	display: none;*/
	}

 /* prazdne bunky sa zobrazia */
 table {empty-cells: show;}
 
 /* kde sa zobrazi popis tabulky <caption> hned za <table> */
 caption {caption-side: left;}
