.cas
	{
		font-size: 1000%;
		font-weight:bold;
		background: transparent;
		margin-left: 1in;
		margin-right: 1in;
		margin-bottom: 0in;
		margin-top: 0in;
		color: black;
	}
	
.overeni
	{
		font-size: 5000%;
		font-weight:bold;
		background: transparent;
		margin-left: 1in;
		margin-right: 1in;
		margin-bottom: 0in;
		margin-top: 0in;
		color: red;
	}

.overeni_limit
	{
		font-size: 5000%;
		font-weight:bold;
		background: transparent;
		margin-left: 1in;
		margin-right: 1in;
		margin-bottom: 0in;
		margin-top: 0in;
		color: green;
	}
