<h1>Obchodn&iacute; podm&iacute;nky</h1>
<h2>1. &Uacute;VODN&Iacute; USTANOVEN&Iacute;</h2>
<p><br />Tyto obchodn&iacute; podm&iacute;nky (d&aacute;le jen "obchodn&iacute; podm&iacute;nky") obchodn&iacute; společnosti se s&iacute;dlem<br />Okna Myjava,<br />identifikačn&iacute; č&iacute;slo: 000000, zapsan&eacute; v obchodn&iacute;m rejstř&iacute;ku veden&eacute;m Městsk&yacute;m soudem v Myjava (d&aacute;le jen "prod&aacute;vaj&iacute;c&iacute;").</p>
<p>Prod&aacute;vaj&iacute;c&iacute; je registrov&aacute;n u &Uacute;řadu pro ochranu osobn&iacute;ch &uacute;dajů pod registračn&iacute;m<br />č&iacute;slem 000000.</p>
<p>Tyto obchodn&iacute; podm&iacute;nky upravuj&iacute; v souladu s ustanoven&iacute;m &sect; 1751 odst. 1 z&aacute;kona č. 89/2012 Sb., občansk&yacute; z&aacute;kon&iacute;k (d&aacute;le jen &bdquo;občansk&yacute; z&aacute;kon&iacute;k&ldquo;) <br />vz&aacute;jemn&aacute; pr&aacute;va a povinnosti smluvn&iacute;ch stran vznikl&eacute; v souvislosti nebo na z&aacute;kladě kupn&iacute; smlouvy (d&aacute;le jen &bdquo;kupn&iacute; smlouva&ldquo;) uzav&iacute;ran&eacute; mezi prod&aacute;vaj&iacute;c&iacute;m <br />a jinou fyzickou osobou (d&aacute;le jen &bdquo;kupuj&iacute;c&iacute;&ldquo;)prostřednictv&iacute;m internetov&eacute;ho obchodu prod&aacute;vaj&iacute;c&iacute;ho.</p>
<p>Internetov&yacute; obchod je prod&aacute;vaj&iacute;c&iacute;m provozov&aacute;n na webov&eacute; str&aacute;nce um&iacute;stněn&eacute; na internetov&eacute; adrese<br />www.sekerak.eu (d&aacute;le jen &bdquo;webov&aacute; str&aacute;nka&ldquo;), a to prostřednictv&iacute;m rozhran&iacute; webov&eacute; str&aacute;nky<br />(d&aacute;le jen &bdquo;webov&eacute; rozhran&iacute; obchodu&ldquo;).</p>
<p>Provozovna a sklad společnosti:<br /><strong>Okna s.r.o.</strong><br /><strong>Myjava</strong><br /><strong>Telefon: </strong></p>
<p><strong>Email: info@sekerak.eu</strong><br />Emaily jsou vyřizov&aacute;ny v pracovn&iacute; době průběžně v z&aacute;vislosti na pořad&iacute; přijet&iacute;,<br />nejd&eacute;le v&scaron;ak do 3 pracovn&iacute;ch dn&iacute;.</p>
<p>Bankovn&iacute; spojen&iacute;:<br />Česk&aacute; Spořitelna 00000000/0800<br />Raiffeisenbank 000000000/5500<br />FioBanka 000000000/20102.</p>
<h1>&nbsp;</h1>
<h2>2. VYMEZEN&Iacute; POJMŮ</h2>
<p><br /><strong>Spotřebitelsk&aacute; smlouva</strong> &ndash; smlouva kupn&iacute;, o d&iacute;lo, př&iacute;padně jin&eacute; smlouvy, pokud<br />smluvn&iacute;mi stranami jsou na jedn&eacute; straně spotřebitel a na druh&eacute; straně dodavatel resp.<br />prod&aacute;vaj&iacute;c&iacute;.</p>
<p><strong>Dodavatel/prod&aacute;vaj&iacute;c&iacute;/zhotovitel</strong> &ndash; je osoba, kter&aacute; při uzav&iacute;r&aacute;n&iacute; a plněn&iacute; smlouvy<br />jedn&aacute; v r&aacute;mci sv&eacute; obchodn&iacute; nebo jin&eacute; podnikatelsk&eacute; činnosti.</p>
<p><strong>Klient/Kupuj&iacute;c&iacute;/objednatel - spotřebitel</strong> - je fyzick&aacute; osoba, kter&aacute; při uzav&iacute;r&aacute;n&iacute; a plněn&iacute;<br />smlouvy nejedn&aacute; v r&aacute;mci sv&eacute; obchodn&iacute; nebo jin&eacute; podnikatelsk&eacute; činnosti nebo v r&aacute;mci<br />samostatn&eacute;ho v&yacute;konu sv&eacute;ho povol&aacute;n&iacute;. Je to fyzick&aacute; osoba, kter&aacute; nakupuje v&yacute;robky nebo<br />už&iacute;v&aacute; služby za jin&yacute;m &uacute;čelem než pro podnik&aacute;n&iacute; s těmito v&yacute;robky nebo službami.</p>
<p><strong>Klient/Kupuj&iacute;c&iacute;/objednatel - nikoli spotřebitel</strong> - je osoba, kter&aacute; při uzav&iacute;r&aacute;n&iacute; a plněn&iacute;<br />smlouvy jedn&aacute; v r&aacute;mci sv&eacute; obchodn&iacute; nebo jin&eacute; podnikatelsk&eacute; činnosti anebo v r&aacute;mci<br />samostatn&eacute;ho v&yacute;konu sv&eacute;ho povol&aacute;n&iacute; a kter&aacute; nakupuje v&yacute;robky či už&iacute;v&aacute; služby za &uacute;čelem<br />sv&eacute;ho podnik&aacute;n&iacute; s těmito v&yacute;robky nebo službami.</p>
<p><strong>Obchodn&iacute; podm&iacute;nky se nevztahuj&iacute; na př&iacute;pady</strong>, kdy osoba, kter&aacute; m&aacute; v &uacute;myslu nakoupit zbož&iacute;<br />od prod&aacute;vaj&iacute;c&iacute;ho, je pr&aacute;vnickou osobou či osobou, jež jedn&aacute; při objedn&aacute;v&aacute;n&iacute; zbož&iacute; v r&aacute;mci sv&eacute; podnikatelsk&eacute; <br />činnosti nebo v r&aacute;mci sv&eacute;ho samostatn&eacute;ho v&yacute;konu povol&aacute;n&iacute;.</p>
<p>Ustanoven&iacute; odchyln&aacute; od obchodn&iacute;ch podm&iacute;nek je možn&eacute; sjednat v kupn&iacute; smlouvě. <br />Odchyln&aacute; ujedn&aacute;n&iacute; v kupn&iacute; smlouvě maj&iacute; přednost před ustanoven&iacute;mi obchodn&iacute;ch podm&iacute;nek.</p>
<p>Ustanoven&iacute; obchodn&iacute;ch podm&iacute;nek jsou ned&iacute;lnou souč&aacute;st&iacute; kupn&iacute; smlouvy. Kupn&iacute; smlouva <br />a obchodn&iacute; podm&iacute;nky jsou vyhotoveny v česk&eacute;m jazyce. Kupn&iacute; smlouvu lze uzavř&iacute;t v česk&eacute;m jazyce. <br />Zněn&iacute; obchodn&iacute;ch podm&iacute;nek může prod&aacute;vaj&iacute;c&iacute; měnit či doplňovat. T&iacute;mto ustanoven&iacute;m nejsou dotčena pr&aacute;va <br />a povinnosti vznikl&aacute; po dobu &uacute;činnosti předchoz&iacute;ho zněn&iacute; obchodn&iacute;ch podm&iacute;nek.</p>
<p>&nbsp;</p>
<h2>3. OBJEDN&Aacute;N&Iacute; ZBOŽ&Iacute;, VZNIK KUPN&Iacute; SMLOUVY</h2>
<p><strong>Ve&scaron;ker&aacute; prezentace zbož&iacute; um&iacute;stěn&aacute; ve webov&eacute;m rozhran&iacute; obchodu je informativn&iacute;ho charakteru a prod&aacute;vaj&iacute;c&iacute; nen&iacute; povinen uzavř&iacute;t kupn&iacute; smlouvu ohledně tohoto zbož&iacute;. Ustanoven&iacute; &sect; 1732 odst. 2 občansk&eacute;ho z&aacute;kon&iacute;ku se nepoužije.</strong></p>
<p>Webov&eacute; rozhran&iacute; obchodu obsahuje informace o zbož&iacute;, a to včetně uveden&iacute; cen jednotliv&eacute;ho zbož&iacute;. Ceny zbož&iacute; jsou uvedeny včetně daně z přidan&eacute; hodnoty a v&scaron;ech souvisej&iacute;c&iacute;ch poplatků. Ceny zbož&iacute; zůst&aacute;vaj&iacute; v platnosti po dobu, kdy jsou zobrazov&aacute;ny ve webov&eacute;m rozhran&iacute; obchodu.T&iacute;mto ustanoven&iacute;m nen&iacute; omezena možnost prod&aacute;vaj&iacute;c&iacute;ho uzavř&iacute;t kupn&iacute; smlouvu za individu&aacute;lně sjednan&yacute;ch podm&iacute;nek.</p>
<p>Webov&eacute; rozhran&iacute; obchodu obsahuje tak&eacute; informace o n&aacute;kladech spojen&yacute;ch s balen&iacute;m a dod&aacute;n&iacute;m zbož&iacute;. Informace o n&aacute;kladech spojen&yacute;ch s balen&iacute;m a dod&aacute;n&iacute;m zbož&iacute; uveden&eacute; ve webov&eacute;m rozhran&iacute; obchodu plat&iacute; pouze v př&iacute;padech, kdy je zbož&iacute; doručov&aacute;no v r&aacute;mci &uacute;zem&iacute; Česk&eacute; republiky.</p>
<p><strong>Objedn&aacute;n&iacute; zbož&iacute; je možn&eacute; realizovat prostřednictv&iacute;m:</strong></p>
<p><strong>I. E-SHOPU</strong> webov&eacute;m rozhran&iacute; obchodu.<br />Objedn&aacute;vkov&yacute; formul&aacute;ř obsahuje zejm&eacute;na informace o:</p>
<ol>
<li>objedn&aacute;van&eacute;m zbož&iacute; (objedn&aacute;van&eacute; zbož&iacute; &bdquo;vlož&iacute;&ldquo; kupuj&iacute;c&iacute; do elektronick&eacute;ho n&aacute;kupn&iacute;ho ko&scaron;&iacute;ku webov&eacute;ho rozhran&iacute; obchodu),</li>
<li>způsobu &uacute;hrady kupn&iacute; ceny zbož&iacute;, &uacute;daje o požadovan&eacute;m způsobu doručen&iacute; objedn&aacute;van&eacute;ho zbož&iacute; a</li>
<li>informace o n&aacute;kladech spojen&yacute;ch s dod&aacute;n&iacute;m zbož&iacute; (d&aacute;le společně jen jako &bdquo;objedn&aacute;vka&ldquo;).</li>
</ol>
<p>Před zasl&aacute;n&iacute;m objedn&aacute;vky prod&aacute;vaj&iacute;c&iacute;mu je kupuj&iacute;c&iacute;mu umožněno zkontrolovat a měnit &uacute;daje, kter&eacute; do objedn&aacute;vky kupuj&iacute;c&iacute; vložil, a to i s ohledem na možnost kupuj&iacute;c&iacute;ho zji&scaron;ťovat a opravovat chyby vznikl&eacute; při zad&aacute;v&aacute;n&iacute; dat do objedn&aacute;vky. Objedn&aacute;vku ode&scaron;le kupuj&iacute;c&iacute; prod&aacute;vaj&iacute;c&iacute;mu kliknut&iacute;m na tlač&iacute;tko &bdquo;Objednat&ldquo;. &Uacute;daje uveden&eacute; v objedn&aacute;vce jsou prod&aacute;vaj&iacute;c&iacute;m považov&aacute;ny za spr&aacute;vn&eacute;. Prod&aacute;vaj&iacute;c&iacute; neprodleně po obdržen&iacute; objedn&aacute;vky toto obdržen&iacute; kupuj&iacute;c&iacute;mu potvrd&iacute; elektronickou po&scaron;tou, a to na adresu elektronick&eacute; po&scaron;ty kupuj&iacute;c&iacute;ho uvedenou v uživatelsk&eacute;m rozhran&iacute; či v objedn&aacute;vce (d&aacute;le jen &bdquo;elektronick&aacute; adresa kupuj&iacute;c&iacute;ho&ldquo;).</p>
<p><br /><strong>II. P&Iacute;SEMN&Eacute; OBJEDN&Aacute;VKY</strong> kupuj&iacute;c&iacute;ho, kter&aacute; mus&iacute; obsahovat ve&scaron;ker&eacute; potřebn&eacute; &uacute;daje a n&aacute;ležitosti, a to zasl&aacute;n&iacute;m na adresu: Okna s.r.o., Myjava<br /><strong>III: EMAILU</strong>, kdy kupuj&iacute;c&iacute; může zaslat objedn&aacute;vku, kter&aacute; mus&iacute; obsahovat ve&scaron;ker&eacute; potřebn&eacute; &uacute;daje a n&aacute;ležitosti na e-mailovou adresu objednavky@sekerak.eu<br /><strong>IV. TELEFONU</strong>, kter&yacute; je k dispozici pro př&iacute;jem objedn&aacute;vek na tel. č&iacute;sle +420 000 000 000 v<br />pracovn&iacute; dny 9.00 - 12.00 a 13.00 - 15.00 h</p>
<p>Prod&aacute;vaj&iacute;c&iacute; je vždy opr&aacute;vněn v z&aacute;vislosti na charakteru objedn&aacute;vky (množstv&iacute; zbož&iacute;, v&yacute;&scaron;e kupn&iacute; ceny, předpokl&aacute;dan&eacute; n&aacute;klady na dopravu) pož&aacute;dat kupuj&iacute;c&iacute;ho o dodatečn&eacute;potvrzen&iacute; objedn&aacute;vky (např&iacute;klad p&iacute;semně či telefonicky).</p>
<p>Smluvn&iacute; vztah mezi prod&aacute;vaj&iacute;c&iacute;m a kupuj&iacute;c&iacute;m vznik&aacute; doručen&iacute;m přijet&iacute; objedn&aacute;vky (akceptac&iacute;), jež je prod&aacute;vaj&iacute;c&iacute;m zasl&aacute;no kupuj&iacute;c&iacute;mu elektronickou po&scaron;tou, a to na adresu elektronick&eacute; po&scaron;ty kupuj&iacute;c&iacute;ho.</p>
<p>Kupuj&iacute;c&iacute; souhlas&iacute; s použit&iacute;m komunikačn&iacute;ch prostředků na d&aacute;lku při uzav&iacute;r&aacute;n&iacute; kupn&iacute; smlouvy. N&aacute;klady vznikl&eacute; kupuj&iacute;c&iacute;mu při použit&iacute; komunikačn&iacute;ch prostředků na d&aacute;lku v souvislosti s uzavřen&iacute;m kupn&iacute; smlouvy (n&aacute;klady na internetov&eacute; připojen&iacute;, n&aacute;klady na telefonn&iacute; hovory) si hrad&iacute; kupuj&iacute;c&iacute; s&aacute;m, přičemž tyto n&aacute;klady se neli&scaron;&iacute; od z&aacute;kladn&iacute; sazby.</p>
<p>Pokud bude klientem zvolena platba za zbož&iacute; předem na &uacute;čet prod&aacute;vaj&iacute;c&iacute;ho, uskutečn&iacute; se tato platba až na z&aacute;kladě přijet&iacute; objedn&aacute;vky - akceptac&iacute; objedn&aacute;vky prod&aacute;vaj&iacute;c&iacute;m a ž&aacute;dost&iacute; o převod peněžn&iacute; č&aacute;stky. Prod&aacute;vaj&iacute;c&iacute; a kupuj&iacute;c&iacute; se dohodnou na term&iacute;nu platby předem na &uacute;čet.</p>
<p>Pokud byla objedn&aacute;vka přijata v den pracovn&iacute;ho klidu (v&iacute;kend) nebo o sv&aacute;tku, posouv&aacute; se t&iacute;mto kontakt na n&aacute;sleduj&iacute;c&iacute; prvn&iacute; pracovn&iacute; den. Prod&aacute;vaj&iacute;c&iacute; si vyhrazuje pr&aacute;vo ověřen&iacute; obsahu objedn&aacute;vky učiněn&eacute; prostřednictv&iacute;m telefonu či emailu (přesn&yacute; druh zbož&iacute;), způsob a term&iacute;n dod&aacute;n&iacute; zbož&iacute;, a to před t&iacute;m, než začne s plněn&iacute;m smlouvy.</p>
<p>V př&iacute;padě osobn&iacute;ho odběru zbož&iacute; na provozovně vznik&aacute; kupn&iacute; smlouva obdobn&yacute;m způsobem, kter&yacute; byl v&yacute;&scaron;e pops&aacute;n za předpokladu, že byly k jej&iacute;mu vzniku použity prostředky komunikace na d&aacute;lku.</p>
<p>N&aacute;vrhem na uzavřen&iacute; kupn&iacute; smlouvy je objedn&aacute;vka od kupuj&iacute;c&iacute;ho a samotn&aacute; kupn&iacute; smlouva vznik&aacute; až potvrzen&iacute;m prod&aacute;vaj&iacute;c&iacute;m, nikoliv automatickou kopi&iacute; objedn&aacute;vky, kter&aacute; je zasl&aacute;na okamžikem odesl&aacute;n&iacute; objedn&aacute;vky.</p>
<p>Od okamžiku potvrzen&iacute; objedn&aacute;vky oper&aacute;torem obchodu lze vzniklou smlouvu měnit nebo ru&scaron;it pouze na z&aacute;kladě z&aacute;kona nebo vz&aacute;jemn&eacute; dohody kupuj&iacute;c&iacute;ho a prod&aacute;vaj&iacute;c&iacute;ho. Př&iacute;lohou potvrzen&iacute; je aktu&aacute;ln&iacute; zněn&iacute; obchodn&iacute;ch podm&iacute;nek a reklamačn&iacute;ho ř&aacute;du prod&aacute;vaj&iacute;c&iacute;ho.</p>
<p>Vzniklou smlouvu (včetně dohodnut&eacute; ceny) lze měnit nebo ru&scaron;it pouze na z&aacute;kladě dohody stran nebo na z&aacute;kladě z&aacute;konn&yacute;ch důvodů.</p>
<h2>&nbsp;</h2>
<h2>4. INFORMACE O UZAVŘEN&Eacute; SMLOUVĚ A OBCHODN&Iacute;CH PODM&Iacute;NK&Aacute;CH</h2>
<p>Na obchodn&iacute; podm&iacute;nky je kupuj&iacute;c&iacute; dostatečn&yacute;m způsobem před vlastn&iacute;m uskutečněn&iacute;m objedn&aacute;vky upozorněn a m&aacute; tak možnost se s n&iacute;m sezn&aacute;mit. Obchodn&iacute; podm&iacute;nky tvoř&iacute;ned&iacute;lnou souč&aacute;st uzavřen&eacute; smlouvy. Smlouva je uzav&iacute;r&aacute;na v česk&eacute;m jazyce, nebr&aacute;n&iacute;-li tomu okolnosti na straně prod&aacute;vaj&iacute;c&iacute;ho či kupuj&iacute;c&iacute;ho, lze smlouvu uzavř&iacute;t i v jin&eacute;m pro strany srozumiteln&eacute;m jazyce. Uzavřen&aacute; smlouva je prod&aacute;vaj&iacute;c&iacute;m archivov&aacute;na za &uacute;čelem jej&iacute;ho &uacute;spě&scaron;n&eacute;ho splněn&iacute; a nen&iacute; př&iacute;stupn&aacute; třet&iacute;m stran&aacute;m. Informace o jednotliv&yacute;ch technick&yacute;ch kroc&iacute;ch vedouc&iacute; k uzavřen&iacute; smlouvy jsou patrn&eacute; z procesu objedn&aacute;v&aacute;n&iacute; v na&scaron;em internetov&eacute;m obchodě a kupuj&iacute;c&iacute; m&aacute; možnost před vlastn&iacute;m odesl&aacute;n&iacute;m objedn&aacute;vky ji zkontrolovat a př&iacute;padně opravit. Obchodn&iacute; podm&iacute;nky jsou zobrazeny na webov&yacute;ch str&aacute;nk&aacute;ch na&scaron;eho internetov&eacute;ho obchodu a je tak umožněna jejich archivace a reprodukce kupuj&iacute;c&iacute;m. N&aacute;klady na použit&iacute; komunikačn&iacute;ch prostředků na d&aacute;lku využit&yacute;ch k uzavřen&iacute; smlouvy si hrad&iacute; každ&aacute; strana samostatně v souladu s tarify sv&yacute;ch poskytovatelů těchto služeb.</p>
<p>&nbsp;</p>
<h2>5. ZRU&Scaron;EN&Iacute; OBJEDN&Aacute;VKY</h2>
<p><strong>Ze strany kupuj&iacute;c&iacute;ho:</strong><br />Kupuj&iacute;c&iacute; m&aacute; pr&aacute;vo zru&scaron;it objedn&aacute;vku bez ud&aacute;n&iacute; důvodu, kdykoliv před jej&iacute;m telefonick&yacute;m či emailov&yacute;m potvrzen&iacute;m.</p>
<p><strong>Ze strany prod&aacute;vaj&iacute;c&iacute;ho:</strong><br />Do doby převzet&iacute; zbož&iacute; kupuj&iacute;c&iacute;m je prod&aacute;vaj&iacute;c&iacute; opr&aacute;vněn kdykoliv od kupn&iacute; smlouvy odstoupit. V takov&eacute;m př&iacute;padě vr&aacute;t&iacute; prod&aacute;vaj&iacute;c&iacute; kupuj&iacute;c&iacute;mu kupn&iacute; cenu bez zbytečn&eacute;ho odkladu, a to bezhotovostně na &uacute;čet určen&yacute; kupuj&iacute;c&iacute;m byla-li platba za zbož&iacute; provedena před dod&aacute;n&iacute;m zbož&iacute;.</p>
<h2>&nbsp;</h2>
<h2>6. ODSTOUPEN&Iacute; OD KUPN&Iacute; SMLOUVY</h2>
<p>Kupuj&iacute;c&iacute; bere na vědom&iacute;, že dle ustanoven&iacute; &sect; 1837 občansk&eacute;ho z&aacute;kon&iacute;ku, nelze mimo jin&eacute; odstoupit od kupn&iacute; smlouvy o dod&aacute;vce zbož&iacute;, kter&eacute; bylo upraveno podle př&aacute;n&iacute; kupuj&iacute;c&iacute;ho nebo pro jeho osobu, od kupn&iacute; smlouvy o dod&aacute;vce zbož&iacute;, kter&eacute; podl&eacute;h&aacute; rychl&eacute; zk&aacute;ze, jakož i zbož&iacute;, kter&eacute; bylo po dod&aacute;n&iacute; nen&aacute;vratně sm&iacute;seno s jin&yacute;m zbož&iacute;m, od kupn&iacute; smlouvy o dod&aacute;vce zbož&iacute; v uzavřen&eacute;m obalu, kter&eacute; spotřebitel z obalu vyňal a z hygienick&yacute;ch důvodů jej nen&iacute; možn&eacute; vr&aacute;tit (např. rtěnky, kr&eacute;my, řasenky, &scaron;ampony, kondicion&eacute;ry, parf&eacute;my, &scaron;tětce na l&iacute;čen&iacute; apod. a od kupn&iacute; smlouvy o dod&aacute;vce zvukov&eacute; nebo obrazov&eacute; nahr&aacute;vky nebo poč&iacute;tačov&eacute;ho programu, pokud poru&scaron;il jejich původn&iacute; obal.</p>
<p>Nejedn&aacute;-li se o př&iacute;pad uveden&yacute; v&yacute;&scaron;e či o jin&yacute; př&iacute;pad, kdy nelze od kupn&iacute; smlouvy odstoupit, m&aacute; kupuj&iacute;c&iacute; v souladu s ustanoven&iacute;m &sect; 1829 odst. 1 občansk&eacute;ho z&aacute;kon&iacute;ku pr&aacute;vo od kupn&iacute; smlouvy odstoupit, a to do čtrn&aacute;cti (14) dnů od převzet&iacute; zbož&iacute;, přičemž v př&iacute;padě, že předmětem kupn&iacute; smlouvy je několik druhů zbož&iacute; nebo dod&aacute;n&iacute; několika č&aacute;st&iacute;, běž&iacute; tato lhůta ode dne převzet&iacute; posledn&iacute; dod&aacute;vky zbož&iacute;. Odstoupen&iacute; od kupn&iacute; smlouvy mus&iacute; b&yacute;tprod&aacute;vaj&iacute;c&iacute;mu odesl&aacute;no ve lhůtě uveden&eacute; v předchoz&iacute; větě. Pro odstoupen&iacute; od kupn&iacute; smlouvy může kupuj&iacute;c&iacute; využit vzorov&yacute; formul&aacute;ř poskytovan&yacute; prod&aacute;vaj&iacute;c&iacute;m, jenž tvoř&iacute; př&iacute;lohu obchodn&iacute;ch podm&iacute;nek. Odstoupen&iacute; od kupn&iacute; smlouvy může kupuj&iacute;c&iacute; zas&iacute;lat mimo jin&eacute; na adresu provozovny prod&aacute;vaj&iacute;c&iacute;ho či na adresu elektronick&eacute; po&scaron;ty prod&aacute;vaj&iacute;c&iacute;ho: reklamace@sekerak.eu</p>
<p>Adresa prodejce: Okna s.r.o., Myjava</p>
<p>V př&iacute;padě odstoupen&iacute; od kupn&iacute; smlouvy těchto obchodn&iacute;ch podm&iacute;nek se kupn&iacute; smlouva od poč&aacute;tku ru&scaron;&iacute;. Zbož&iacute; mus&iacute; b&yacute;t prod&aacute;vaj&iacute;c&iacute;mu vr&aacute;ceno do čtrn&aacute;cti (14) dnů od odstoupen&iacute; od smlouvy prod&aacute;vaj&iacute;c&iacute;mu.</p>
<p>Odstoup&iacute;-li kupuj&iacute;c&iacute; od kupn&iacute; smlouvy, nese kupuj&iacute;c&iacute; n&aacute;klady spojen&eacute; s navr&aacute;cen&iacute;m zbož&iacute; prod&aacute;vaj&iacute;c&iacute;mu,a to i v tom př&iacute;padě, kdy zbož&iacute; nemůže b&yacute;t vr&aacute;ceno pro svou povahu obvyklou po&scaron;tovn&iacute; cestou a to pro zbož&iacute; do 30kg ve v&yacute;&scaron;i 150Kč, zbož&iacute; od 30 do 50kg ve v&yacute;&scaron;i 400Kč, zbož&iacute; s hmotnost&iacute; od 50kg do 200kg ve v&yacute;&scaron;i 800Kč a zbož&iacute; o hmotnosti vy&scaron;&scaron;&iacute; jak 200kg čin&iacute; n&aacute;klad spojen&yacute; s navr&aacute;cen&iacute;m zbož&iacute; 1500Kč.</p>
<p>Zbož&iacute; by mělo b&yacute;t kompletn&iacute;, včetně př&iacute;slu&scaron;enstv&iacute;, z&aacute;ručn&iacute;ho listu (pokud byl přiložen), n&aacute;vodu a ve&scaron;ker&eacute; dokumentace - nejl&eacute;pe v nepo&scaron;kozen&eacute;m původn&iacute;m celistv&eacute;m origin&aacute;ln&iacute;m obalu společně s kopi&iacute; dokladu o koupi (faktura, dodac&iacute; list).</p>
<p>Prod&aacute;vaj&iacute;c&iacute; m&aacute; d&aacute;le pr&aacute;vo na n&aacute;hradu skutečně vynaložen&yacute;ch n&aacute;kladů spojen&yacute;ch s vr&aacute;cen&iacute;m zbož&iacute;.</p>
<p>V př&iacute;padě nedodržen&iacute; lhůty pro odstoupen&iacute; od smlouvy je v&scaron;ak takov&eacute; odstoupen&iacute; od smlouvy neplatn&eacute; a spotřebiteli t&iacute;m nevznikaj&iacute; ž&aacute;dn&aacute; pr&aacute;va na vr&aacute;cen&iacute; zbož&iacute;.</p>
<p>V př&iacute;padě odstoupen&iacute; od smlouvy dle těchto obchodn&iacute;ch podm&iacute;nek vr&aacute;t&iacute; prod&aacute;vaj&iacute;c&iacute; peněžn&iacute; prostředky přijat&eacute; od kupuj&iacute;c&iacute;ho do čtrn&aacute;cti (14) dnů od odstoupen&iacute; od kupn&iacute; smlouvy kupuj&iacute;c&iacute;m, a to stejn&yacute;m způsobem, jak&yacute;m je prod&aacute;vaj&iacute;c&iacute; od kupuj&iacute;c&iacute;ho přijal.</p>
<p>Prod&aacute;vaj&iacute;c&iacute; vrac&iacute; finančn&iacute; prostředky za dopravn&eacute; (byly-li &uacute;čtov&aacute;ny) k z&aacute;kazn&iacute;kovi v nejniž&scaron;&iacute; nab&iacute;zen&eacute; v&yacute;&scaron;i v př&iacute;padě, že si spotřebitel zvolil draž&scaron;&iacute; způsob dopravy.</p>
<p>Prod&aacute;vaj&iacute;c&iacute; je takt&eacute;ž opr&aacute;vněn vr&aacute;tit plněn&iacute; poskytnut&eacute; kupuj&iacute;c&iacute;m již při vr&aacute;cen&iacute; zbož&iacute; kupuj&iacute;c&iacute;m či jin&yacute;m způsobem, pokud s t&iacute;m kupuj&iacute;c&iacute; bude souhlasit a nevzniknou t&iacute;m kupuj&iacute;c&iacute;mu dal&scaron;&iacute; n&aacute;klady. Odstoup&iacute;-li kupuj&iacute;c&iacute; od kupn&iacute; smlouvy, prod&aacute;vaj&iacute;c&iacute; nen&iacute; povinen vr&aacute;tit přijat&eacute; peněžn&iacute; prostředky kupuj&iacute;c&iacute;mu dř&iacute;ve, než mu kupuj&iacute;c&iacute; Myjava zbož&iacute; vr&aacute;t&iacute; nebo prok&aacute;že, že zbož&iacute; podnikateli odeslal. Nikoliv v&scaron;ak nadob&iacute;rku (prodejce si vyhrazuje pr&aacute;vo takto zaslan&eacute; zbož&iacute; nepřevz&iacute;t).</p>
<p>Prod&aacute;vaj&iacute;c&iacute; doporučuji vr&aacute;cen&eacute; zbož&iacute; důkladně zabalit, aby nedo&scaron;lo při přepravě k jeho po&scaron;kozen&iacute; a znehodnocen&iacute; origin&aacute;ln&iacute;ho obalu různ&yacute;mi &scaron;t&iacute;tky a popisy - z&aacute;roveň se doporučuje zbož&iacute; klientem pojistit, jelikož prodejce neodpov&iacute;d&aacute; za př&iacute;padnou ztr&aacute;tu nebo po&scaron;kozen&iacute; zbož&iacute; při přepravě. N&aacute;rok na &uacute;hradu &scaron;kody vznikl&eacute; na zbož&iacute; je prod&aacute;vaj&iacute;c&iacute; opr&aacute;vněn jednostranně započ&iacute;st proti n&aacute;roku kupuj&iacute;c&iacute;ho na vr&aacute;cen&iacute; kupn&iacute; ceny.</p>
<p>Do doby převzet&iacute; zbož&iacute; kupuj&iacute;c&iacute;m je prod&aacute;vaj&iacute;c&iacute; opr&aacute;vněn kdykoliv od kupn&iacute; smlouvy odstoupit. V takov&eacute;m př&iacute;padě vr&aacute;t&iacute; prod&aacute;vaj&iacute;c&iacute; kupuj&iacute;c&iacute;mu kupn&iacute; cenu bez zbytečn&eacute;ho odkladu, a to bezhotovostně na &uacute;čet určen&yacute; kupuj&iacute;c&iacute;m byla-li platba za zbož&iacute; provedena před dod&aacute;n&iacute;m zbož&iacute;.</p>
<p>Je-li společně se zbož&iacute;m poskytnut kupuj&iacute;c&iacute;mu d&aacute;rek, je darovac&iacute; smlouva mezi prod&aacute;vaj&iacute;c&iacute;m a kupuj&iacute;c&iacute;m uzavřena s rozvazovac&iacute; podm&iacute;nkou, že dojde-li k odstoupen&iacute; od kupn&iacute; smlouvy kupuj&iacute;c&iacute;m, pozb&yacute;v&aacute; darovac&iacute; smlouva ohledně takov&eacute;ho d&aacute;rku &uacute;činnosti a kupuj&iacute;c&iacute; je povinen spolu se zbož&iacute;m prod&aacute;vaj&iacute;c&iacute;mu vr&aacute;tit i poskytnut&yacute; d&aacute;rek.</p>
<p>&nbsp;</p>
<h2>7. PR&Aacute;VA Z VADN&Eacute;HO PLNĚN&Iacute;, Z&Aacute;RUČN&Iacute; DOBA</h2>
<p>Pr&aacute;va a povinnosti smluvn&iacute;ch stran ohledně pr&aacute;v z vadn&eacute;ho plněn&iacute; se ř&iacute;d&iacute; př&iacute;slu&scaron;n&yacute;mi obecně z&aacute;vazn&yacute;mi předpisy (zejm&eacute;na ustanoven&iacute;mi &sect; 1914 až 1925, &sect; 2099 až 2117 a &sect; 2161 až 2174 občansk&eacute;ho z&aacute;kon&iacute;ku).</p>
<p>Prod&aacute;vaj&iacute;c&iacute; odpov&iacute;d&aacute; spotřebiteli, že zbož&iacute; při převzet&iacute; nem&aacute; vady.</p>
<p>Zejm&eacute;na prod&aacute;vaj&iacute;c&iacute; odpov&iacute;d&aacute; spotřebiteli, že v době, kdy spotřebitel zbož&iacute; převzal:</p>
<ul>
<li>m&aacute; zbož&iacute; vlastnosti, kter&eacute; si strany ujednaly, a chyb&iacute;-li ujedn&aacute;n&iacute;, m&aacute; takov&eacute; vlastnosti, kter&eacute; prod&aacute;vaj&iacute;c&iacute; nebo v&yacute;robce popsal nebo kter&eacute; spotřebitel oček&aacute;val s ohledem na povahu zbož&iacute; a na z&aacute;kladě reklamy jimi prov&aacute;děn&eacute;,</li>
<li>se zbož&iacute; hod&iacute; k &uacute;čelu, kter&yacute; pro jeho použit&iacute; prod&aacute;vaj&iacute;c&iacute; uv&aacute;d&iacute; nebo ke kter&eacute;mu se zbož&iacute; tohoto druhu obvykle použ&iacute;v&aacute;,</li>
<li>zbož&iacute; odpov&iacute;d&aacute; jakost&iacute; nebo proveden&iacute;m smluven&eacute;mu vzorku nebo předloze, byla-li jakost nebo proveden&iacute; určeno podle smluven&eacute;ho vzorku nebo předlohy,</li>
<li>je zbož&iacute; v odpov&iacute;daj&iacute;c&iacute;m množstv&iacute;, m&iacute;ře nebo hmotnosti a</li>
<li>zbož&iacute; vyhovuje požadavkům pr&aacute;vn&iacute;ch předpisů.</li>
</ul>
<p>Nem&aacute;-li zbož&iacute; v&yacute;&scaron;e uveden&eacute; vlastnosti, může kupuj&iacute;c&iacute; požadovat i dod&aacute;n&iacute; nov&eacute;ho zbož&iacute; bez vad, pokud to nen&iacute; vzhledem k povaze vady nepřiměřen&eacute;, ale pokud sevada t&yacute;k&aacute; pouze souč&aacute;sti zbož&iacute;, může kupuj&iacute;c&iacute; požadovat jen v&yacute;měnu souč&aacute;sti.</p>
<p>Nen&iacute;-li to možn&eacute;, může odstoupit od smlouvy. Je-li to v&scaron;ak vzhledem k povaze vady ne&uacute;měrn&eacute;, zejm&eacute;na lze-li vadu odstranit bez zbytečn&eacute;ho odkladu, m&aacute; kupuj&iacute;c&iacute; pr&aacute;vo na bezplatn&eacute; odstraněn&iacute; vady.</p>
<p>Pr&aacute;vo na dod&aacute;n&iacute; nov&eacute; věci, nebo v&yacute;měnu souč&aacute;sti m&aacute; spotřebitel i v př&iacute;padě odstraniteln&eacute; vady, pokud nemůže věc ř&aacute;dně už&iacute;vat pro opakovan&yacute; v&yacute;skyt vady po opravě nebo pro vět&scaron;&iacute; počet vad. V takov&eacute;m př&iacute;padě m&aacute; spotřebitel i pr&aacute;vo od smlouvy odstoupit.</p>
<p>Neodstoup&iacute;-li spotřebitel od smlouvy nebo neuplatn&iacute;-li pr&aacute;vo na dod&aacute;n&iacute; nov&eacute;ho zbož&iacute; bez vad, na v&yacute;měnu jej&iacute; souč&aacute;sti nebo na opravu zbož&iacute;, může požadovat přiměřenou slevu. Spotřebitel m&aacute; pr&aacute;vo na přiměřenou slevu i v př&iacute;padě, že mu prod&aacute;vaj&iacute;c&iacute; nemůže dodat nov&eacute; zbož&iacute; bez vad, vyměnit jej&iacute; souč&aacute;st nebo zbož&iacute; opravit, jakož i v př&iacute;padě, že prod&aacute;vaj&iacute;c&iacute; nezjedn&aacute; n&aacute;pravu v přiměřen&eacute; době nebo že by zjedn&aacute;n&iacute; n&aacute;pravy spotřebiteli působilo značn&eacute; obt&iacute;že. Pr&aacute;vo z vadn&eacute;ho plněn&iacute; kupuj&iacute;c&iacute;mu nen&aacute;lež&iacute;, pokud kupuj&iacute;c&iacute; před převzet&iacute;m zbož&iacute; věděl, že zbož&iacute; m&aacute; vadu, anebo pokud kupuj&iacute;c&iacute; vadu s&aacute;m způsobil.</p>
<p>Spotřebitel je opr&aacute;vněn uplatnit pr&aacute;vo z vady, kter&aacute; se vyskytne u spotřebn&iacute;ho zbož&iacute; v době dvaceti čtyř měs&iacute;ců od převzet&iacute;. Projev&iacute;-li se vada v průběhu &scaron;est i měs&iacute;ců od převzet&iacute;, m&aacute; se za to, že věc byla vadn&aacute; již při převzet&iacute; neprok&aacute;že-li se opak.</p>
<p>Za okamžik uplatněn&iacute; reklamace se považuje okamžik, kdy prod&aacute;vaj&iacute;c&iacute; obdržel<br />od kupuj&iacute;c&iacute;ho reklamovan&eacute; zbož&iacute;.</p>
<p>Odpovědnost prod&aacute;vaj&iacute;c&iacute;ho za vady se nevztahuje na opotřeben&iacute; zbož&iacute; způsoben&eacute; jej&iacute;m obvykl&yacute;m už&iacute;v&aacute;n&iacute;m, u zbož&iacute; prod&aacute;van&eacute;ho za niž&scaron;&iacute; cenu pro vadu, pro kterou byla niž&scaron;&iacute; cena ujedn&aacute;na, u použit&eacute;ho zbož&iacute; pro vadu odpov&iacute;daj&iacute;c&iacute; m&iacute;ře použ&iacute;v&aacute;n&iacute; nebo opotřeben&iacute;, kter&eacute; zbož&iacute; mělo při převzet&iacute; kupuj&iacute;c&iacute;m, nebo vypl&yacute;v&aacute;-li to z povahy zbož&iacute;.</p>
<p>Na ž&aacute;dost spotřebitele je prod&aacute;vaj&iacute;c&iacute; povinen poskytnout spotřebiteli p&iacute;semn&eacute; potvrzen&iacute; o povinnostech z vadn&eacute;ho plněn&iacute; v rozsahu stanoven&eacute;m z&aacute;konem (z&aacute;ručn&iacute; list). Umožňuje-li to povaha zbož&iacute;, postačuje nam&iacute;sto z&aacute;ručn&iacute;ho listu vydat kupuj&iacute;c&iacute;mu doklad o zakoupen&iacute; věci obsahuj&iacute;c&iacute; &uacute;daje (fakturu), kter&eacute; mus&iacute; obsahovat &uacute;daje jako z&aacute;ručn&iacute; list. Z&aacute;ručn&iacute; list mus&iacute; obsahovat jm&eacute;no a př&iacute;jmen&iacute;, n&aacute;zev nebo obchodn&iacute; firmu prod&aacute;vaj&iacute;c&iacute;ho, IČ, s&iacute;dlo, jde-li o pr&aacute;vnickou osobu. Pokud je poskytov&aacute;na na zbož&iacute; del&scaron;&iacute; než z&aacute;konn&aacute; z&aacute;ruka, prod&aacute;vaj&iacute;c&iacute; urč&iacute; podm&iacute;nky a rozsah prodloužen&iacute; z&aacute;ruky v z&aacute;ručn&iacute;m listě.</p>
<p>&nbsp;</p>
<h2>8. DODAC&Iacute; PODM&Iacute;NKY, DOPRAVN&Eacute;</h2>
<p>Zbož&iacute; bude odesl&aacute;no kupuj&iacute;c&iacute;mu v term&iacute;nu psan&eacute;m emailem při potvrzen&iacute; objedn&aacute;vky &ndash; obvykle do 5 pracovn&iacute;ch dn&iacute; od potvrzen&iacute; objedn&aacute;vky, pokud je zbož&iacute; skladem.</p>
<p>Pokud se prod&aacute;vaj&iacute;c&iacute; s kupuj&iacute;c&iacute;m dohodnou, může b&yacute;t doba dod&aacute;n&iacute; del&scaron;&iacute;, zejm&eacute;na v př&iacute;padě, kdy zbož&iacute; nen&iacute; skladem či je skladem u extern&iacute;ch dodavatelů nebo se standardně do ČR nedov&aacute;ž&iacute;, maxim&aacute;lně v&scaron;ak 90 dn&iacute;. M&iacute;sto dod&aacute;n&iacute; zbož&iacute; je stanoveno na z&aacute;kladě informac&iacute; poskytnut&eacute; kupuj&iacute;c&iacute;m z objedn&aacute;vky zbož&iacute;, př&iacute;padně odli&scaron;n&eacute;, dohodne-li se tak prod&aacute;vaj&iacute;c&iacute; s kupuj&iacute;c&iacute;m.<br />Drobn&eacute; zbož&iacute;:<br />je zas&iacute;l&aacute;no za 89,-Kč, jak Českou po&scaron;tou, tak i soukrom&yacute;m dopravcem či kur&yacute;rem.<br />U velk&eacute;ho, těžk&eacute;ho a rozměrn&eacute;ho zbož&iacute;:<br />je &uacute;čtov&aacute;no za dopravu 299,- Kč až 1000,-Kč v z&aacute;vislosti na objemu a velikosti z&aacute;silky.</p>
<p>Dob&iacute;rečn&eacute; 30,-Kč, bude-li zvolena platba předem, nen&iacute; &uacute;čtov&aacute;no.</p>
<p><strong>Přesn&aacute; cena je zobrazena vždy v n&aacute;kupn&iacute;m ko&scaron;&iacute;ku před objedn&aacute;n&iacute;m - odesl&aacute;n&iacute;m objedn&aacute;vky.</strong></p>
<p>U vybran&eacute;ho zbož&iacute;, poskytuje prod&aacute;vaj&iacute;c&iacute; dopravu zdarma. Vybran&eacute; zbož&iacute; s dopravou zdarma po ČR je označeno logem &bdquo;doprava zdarma&ldquo;. Prod&aacute;vaj&iacute;c&iacute; si vyhrazuje pr&aacute;vo na změnu přepravy, pokud bude nevhodně zvolena klientem, nebo nen&iacute;-li možn&eacute; zvolenou dopravou dod&aacute;n&iacute; zbož&iacute; uskutečnit, toto v&scaron;ak nebude m&iacute;t vliv na konečnou cenu uvedenou v objedn&aacute;vce kupuj&iacute;c&iacute;ho.<br />Ceny za dopravu jsou prod&aacute;vaj&iacute;c&iacute;m vždy v&yacute;razně dotov&aacute;ny.</p>
<p>&nbsp;</p>
<h2>9. CENA ZBOŽ&Iacute; A PLATEBN&Iacute; PODM&Iacute;NKY</h2>
<p>Prod&aacute;vaj&iacute;c&iacute; je majitelem zbož&iacute; a prod&aacute;v&aacute; jej kupuj&iacute;c&iacute;mu za cenu aktu&aacute;ln&iacute; v době odesl&aacute;n&iacute; objedn&aacute;vky. Cena zbož&iacute; je konečn&aacute; včetně DPH.</p>
<p>Zbož&iacute; je až do doby &uacute;pln&eacute;ho zaplacen&iacute; cel&eacute; ceny, majetkem prod&aacute;vaj&iacute;c&iacute;ho. Uhrazen&iacute; ceny za zbož&iacute; a př&iacute;padn&eacute; n&aacute;klady spojen&eacute; s dod&aacute;n&iacute;m zbož&iacute; dle kupn&iacute; smlouvy může kupuj&iacute;c&iacute; uhradit prod&aacute;vaj&iacute;c&iacute;mu několika způsoby:</p>
<ul>
<li>v hotovosti na provozovně prod&aacute;vaj&iacute;c&iacute;ho na adrese Myjava</li>
<li>v hotovosti na dob&iacute;rku v m&iacute;stě určen&eacute;m kupuj&iacute;c&iacute;m v objedn&aacute;vce (pen&iacute;ze převezme smluvn&iacute; přepravce)</li>
<li>bezhotovostně bankovn&iacute;m převodem na &uacute;čet prod&aacute;vaj&iacute;c&iacute;ho, převodem celkov&eacute; č&aacute;stky na č&iacute;slo &uacute;čtu: 00000000000/0800 nebo 0000000000/5500 (d&aacute;le jen &uacute;čet prod&aacute;vaj&iacute;c&iacute;ho")</li>
<li>prostřednictv&iacute;m &uacute;věru poskytnut&eacute;ho třet&iacute; osobou.</li>
</ul>
<p>Společně s kupn&iacute; cenou je kupuj&iacute;c&iacute; povinen zaplatit prod&aacute;vaj&iacute;c&iacute;mu tak&eacute; n&aacute;klady spojen&eacute; s balen&iacute;m a dod&aacute;n&iacute;m zbož&iacute; ve smluven&eacute; v&yacute;&scaron;i. Nen&iacute;-li uvedeno v&yacute;slovně jinak, rozum&iacute; se d&aacute;le kupn&iacute; cenou i n&aacute;klady spojen&eacute; s dod&aacute;n&iacute;m zbož&iacute;.</p>
<p>Prod&aacute;vaj&iacute;c&iacute; nepožaduje od kupuj&iacute;c&iacute;ho z&aacute;lohu či jinou obdobnou platbu. T&iacute;mto nen&iacute; dotčeno ustanoven&iacute; těchto obchodn&iacute;ch podm&iacute;nek ohledně povinnosti uhradit kupn&iacute; cenu zbož&iacute; předem, zejm&eacute;na v př&iacute;padě, že ze strany kupuj&iacute;c&iacute;ho nedojde k dodatečn&eacute;mu potvrzen&iacute; objedn&aacute;vky, může prod&aacute;vaj&iacute;c&iacute; požadovat uhrazen&iacute; cel&eacute; kupn&iacute; ceny je&scaron;tě před odesl&aacute;n&iacute;m zbož&iacute; kupuj&iacute;c&iacute;mu. Ustanoven&iacute; &sect; 2119 odst. 1 občansk&eacute;ho z&aacute;kon&iacute;ku se nepoužije.</p>
<p>V př&iacute;padě platby v hotovosti či v př&iacute;padě platby na dob&iacute;rku je kupn&iacute; cena splatn&aacute; při převzet&iacute; zbož&iacute;. V př&iacute;padě bezhotovostn&iacute; platby je kupn&iacute; cena splatn&aacute; do 7 dnů od uzavřen&iacute; kupn&iacute; smlouvy.</p>
<p>V př&iacute;padě bezhotovostn&iacute; platby je kupuj&iacute;c&iacute; povinen uhrazovat kupn&iacute; cenu zbož&iacute; společně s uveden&iacute;m variabiln&iacute;ho symbolu platby. V př&iacute;padě bezhotovostn&iacute; platby je z&aacute;vazek kupuj&iacute;c&iacute;ho uhradit kupn&iacute; cenu splněn okamžikem přips&aacute;n&iacute; př&iacute;slu&scaron;n&eacute; č&aacute;stky na &uacute;čet prod&aacute;vaj&iacute;c&iacute;ho.</p>
<p>Pokud byla platba provedena bankovn&iacute;m převodem, je zbož&iacute; odesl&aacute;no až po fyzick&eacute;m přips&aacute;n&iacute; celkov&eacute; v&yacute;&scaron;e ceny na &uacute;čet prod&aacute;vaj&iacute;c&iacute;ho.</p>
<p>Prod&aacute;vaj&iacute;c&iacute; je pl&aacute;tcem daně z přidan&eacute; hodnoty. Daňov&yacute; doklad &ndash; fakturu vystav&iacute; prod&aacute;vaj&iacute;c&iacute; kupuj&iacute;c&iacute;mu po uhrazen&iacute; ceny zbož&iacute; a za&scaron;le jej v elektronick&eacute; podobě na elektronickou adresu kupuj&iacute;c&iacute;ho.</p>
<p>&nbsp;</p>
<h2>10. PŘEPRAVA, DOD&Aacute;N&Iacute; ZBOŽ&Iacute;, PŘEVZET&Iacute; ZBOŽ&Iacute;</h2>
<p>V př&iacute;padě, že je způsob dopravy smluven na z&aacute;kladě zvl&aacute;&scaron;tn&iacute;ho požadavku<br />kupuj&iacute;c&iacute;ho, nese kupuj&iacute;c&iacute; riziko a př&iacute;padn&eacute; dodatečn&eacute; n&aacute;klady spojen&eacute; s<br />t&iacute;mto způsobem dopravy.<br />Je-li prod&aacute;vaj&iacute;c&iacute; podle kupn&iacute; smlouvy povinen dodat zbož&iacute; na m&iacute;sto určen&eacute;<br />kupuj&iacute;c&iacute;m v objedn&aacute;vce, je kupuj&iacute;c&iacute; povinen převz&iacute;t zbož&iacute; při dod&aacute;n&iacute;.V př&iacute;padě, že je z důvodů na straně kupuj&iacute;c&iacute;ho nutno zbož&iacute; doručovat<br />opakovaně nebo jin&yacute;m způsobem, než bylo uvedeno v objedn&aacute;vce, je kupuj&iacute;c&iacute;<br />povinen uhradit n&aacute;klady spojen&eacute; s opakovan&yacute;m doručov&aacute;n&iacute;m zbož&iacute;, resp.<br />n&aacute;klady spojen&eacute; s jin&yacute;m způsobem doručen&iacute;.<br />Při převzet&iacute; zbož&iacute; od přepravce je kupuj&iacute;c&iacute; povinen zkontrolovat neporu&scaron;enost<br />obalů zbož&iacute; a v př&iacute;padě jak&yacute;chkoliv z&aacute;vad toto neprodleně ozn&aacute;mit přepravci.<br />V př&iacute;padě shled&aacute;n&iacute; poru&scaron;en&iacute; obalu svědč&iacute;c&iacute;ho o neopr&aacute;vněn&eacute;m vniknut&iacute; do<br />z&aacute;silky nemus&iacute; kupuj&iacute;c&iacute; z&aacute;silku od přepravce převz&iacute;t.<br />Převzet&iacute; zbož&iacute; - přepravce, kur&yacute;r, po&scaron;ta:<br />Kupuj&iacute;c&iacute; sv&yacute;m podpisem přepravci při převzet&iacute; z&aacute;silky stvrzuje, že z&aacute;silku<br />převzal nepo&scaron;kozenou.<br />Kupuj&iacute;c&iacute; m&aacute; proto povinnost a pr&aacute;vo sv&eacute; v&yacute;hrady k dod&aacute;vce zbož&iacute; &uacute;v&eacute;st na přepravn&iacute;<br />list (roztržen&yacute;, prom&aacute;čkl&yacute; či promočen&yacute; obal, d&iacute;ra v obale atd.) či toto<br />zbož&iacute; odm&iacute;tnout odebrat z důvodu možn&eacute;ho po&scaron;kozen&iacute; zbož&iacute; dopravou.<br />Po&scaron;kozen&iacute; z&aacute;silky obalu, způsoben&eacute; přepravou, je nutn&eacute; reklamovat v okamžiku<br />převzet&iacute;.<br />Jestliže kupuj&iacute;c&iacute; zbož&iacute; převezme bez v&yacute;hrady &ndash; uvede sv&yacute;m podpisem do<br />přepravn&iacute;ho listu, že převzal z&aacute;silku nepo&scaron;kozenou, po&scaron;kozen&iacute; z přepravy<br />se po t&eacute; &scaron;patně dopravci prokazuje.<br />Proto prod&aacute;vaj&iacute;c&iacute; doporučuje, aby kupuj&iacute;c&iacute; vždy ř&aacute;dně zkontrolovat,<br />zda je z&aacute;silka zejm&eacute;na jej&iacute; obal z vněj&scaron;ku nepo&scaron;kozena.<br />Př&iacute;padn&aacute; n&aacute;sledn&aacute; reklamace po&scaron;kozen&iacute; zbož&iacute; přepravou bude vyř&iacute;zena s<br />ohledem na podpisem stvrzen&eacute; potvrzen&iacute;, že byla převzata z&aacute;silka z vněj&scaron;ku<br />nepo&scaron;kozen&aacute;, pokud se neprok&aacute;že opak.<br />Pokud kupuj&iacute;c&iacute; v takov&eacute;m př&iacute;padě bude bezprostředně kontaktovat prod&aacute;vaj&iacute;c&iacute;ho a<br />uvede do přepravn&iacute;ho listu sv&eacute; v&yacute;hrady k z&aacute;silce zbož&iacute;, v&yacute;razně tak přispěje k rychl&eacute;mu a<br />bezprobl&eacute;mov&eacute;mu vyře&scaron;en&iacute; vznikl&eacute; situace a kupuj&iacute;c&iacute; m&aacute; n&aacute;sledně možnost požadovat<br />opravu zbož&iacute; nebo dod&aacute;n&iacute; nov&eacute;ho zbož&iacute;, př&iacute;padně požadovat přiměřenou slevu.<br />To v&scaron;e bez zbytečn&eacute;ho odkladu.<br />U Česk&eacute; Po&scaron;ty je nutn&eacute; reklamaci - po&scaron;kozen&iacute; z&aacute;silky podat v co nejkrat&scaron;&iacute;<br />době na doručuj&iacute;c&iacute; po&scaron;tě.<br />Nedodržen&iacute; v&yacute;&scaron;e uveden&yacute;ch postupů spotřebitelem se nedot&yacute;k&aacute; jeho pr&aacute;v<br />z odpovědnosti za vady, jeho dodržen&iacute; lze v&scaron;ak spotřebiteli doporučit.Standardn&iacute; doručen&iacute;:<br />Dopravce doručuje zbož&iacute; standardně před dům, př&iacute;padně za prvn&iacute;<br />uzamykateln&eacute; dveře pokud tomu způsobilost povrchu dovoluje (povrch pro<br />paletov&yacute; voz&iacute;k či rudl&iacute;k).<br />Proto se kupuj&iacute;c&iacute; mus&iacute; vždy připravit na doručen&iacute; zbož&iacute;, zvl&aacute;&scaron;tě pokud<br />jde o zbož&iacute; velk&eacute; a těžk&eacute;.<br />Řidič jezd&iacute; s&aacute;m bez z&aacute;vozn&iacute;ka a nen&iacute; tedy schopen zbož&iacute; stěhovat po schodech<br />nebo patrech, proto je nutn&eacute;, aby si kupuj&iacute;c&iacute; zajistil adekv&aacute;tn&iacute; pomoc,<br />pokud na manipulaci se zbož&iacute;m s&aacute;m nestač&iacute;. V ceně dod&aacute;n&iacute; nen&iacute; instalace<br />ani vynesen&iacute; zbož&iacute; do pater.<br />Řidiči ve vět&scaron;ině př&iacute;padů před doručen&iacute;m z&aacute;silky telefonicky kupuj&iacute;c&iacute;ho kontaktuj&iacute;,<br />aby byl připraven na převzet&iacute; zbož&iacute;.<br />Jestliže i přes ve&scaron;ker&aacute; snažen&iacute; dopravce se kupuj&iacute;c&iacute;ho nepodař&iacute; na adrese<br />dod&aacute;n&iacute; zastihnout, zanech&aacute; na m&iacute;stě vzkaz s telefonn&iacute;m č&iacute;slem depa dopravce,<br />kde je možn&eacute; se domluvit na n&aacute;hradn&iacute;m dod&aacute;n&iacute; zbož&iacute; nebo na vlastn&iacute;m odběru<br />zbož&iacute; z depa dopravce.<br />U Česk&eacute; po&scaron;ty - pokud nebude kupuj&iacute;c&iacute; k zastižen&iacute; na adrese,<br />bude z&aacute;silka uložena po dobu 7 kalend&aacute;řn&iacute;ch dnů na doručuj&iacute;c&iacute; po&scaron;tě k vyzvednut&iacute;.</p>
<p>&nbsp;</p>
<h2>11. SERVIS, REKLAMACE</h2>
<p>Spotřebitel je opr&aacute;vněn uplatnit pr&aacute;vo z vady, kter&aacute; se vyskytne u spotřebn&iacute;ho<br />zbož&iacute; v době dvaceti čtyř měs&iacute;ců od převzet&iacute;. Projev&iacute;-li se vada v průběhu &scaron;esti<br />měs&iacute;ců od převzet&iacute;, m&aacute; se za to, že věc byla vadn&aacute; již při převzet&iacute; neprok&aacute;že-li<br />se opak.<br />Za okamžik uplatněn&iacute; reklamace se považuje okamžik, kdy prod&aacute;vaj&iacute;c&iacute; obdržel<br />od kupuj&iacute;c&iacute;ho reklamovan&eacute; zbož&iacute;.<br />Odpovědnost prod&aacute;vaj&iacute;c&iacute;ho za vady se nevztahuje na opotřeben&iacute; zbož&iacute; způsoben&eacute;<br />jej&iacute;m obvykl&yacute;m už&iacute;v&aacute;n&iacute;m, u zbož&iacute; prod&aacute;van&eacute;ho za niž&scaron;&iacute; cenu pro vadu, pro kterou<br />byla niž&scaron;&iacute; cena ujedn&aacute;na, u použit&eacute;ho zbož&iacute; pro vadu odpov&iacute;daj&iacute;c&iacute; m&iacute;ře použ&iacute;v&aacute;n&iacute;<br />nebo opotřeben&iacute;, kter&eacute; zbož&iacute; mělo při převzet&iacute; kupuj&iacute;c&iacute;m, nebo vypl&yacute;v&aacute;-li to z povahy zbož&iacute;.<br />Na ž&aacute;dost spotřebitele je prod&aacute;vaj&iacute;c&iacute; povinen poskytnout spotřebiteli p&iacute;semn&eacute;<br />potvrzen&iacute; o povinnostech z vadn&eacute;ho plněn&iacute; v rozsahu stanoven&eacute;m z&aacute;konem (z&aacute;ručn&iacute;<br />list). Umožňuje-li to povaha zbož&iacute;, postačuje nam&iacute;sto z&aacute;ručn&iacute;ho listu vydat<br />kupuj&iacute;c&iacute;mu doklad o zakoupen&iacute; věci obsahuj&iacute;c&iacute; &uacute;daje (fakturu), kter&eacute; mus&iacute;<br />obsahovat &uacute;daje jako z&aacute;ručn&iacute; list. Z&aacute;ručn&iacute; list mus&iacute; obsahovat jm&eacute;no a př&iacute;jmen&iacute;,n&aacute;zev nebo obchodn&iacute; firmu prod&aacute;vaj&iacute;c&iacute;ho, IČ, s&iacute;dlo, jde-li o pr&aacute;vnickou osobu.<br />Pokud je poskytov&aacute;na na zbož&iacute; del&scaron;&iacute; než z&aacute;konn&aacute; z&aacute;ruka, prod&aacute;vaj&iacute;c&iacute; urč&iacute; podm&iacute;nky<br />a rozsah prodloužen&iacute; z&aacute;ruky v z&aacute;ručn&iacute;m listě.<br />V př&iacute;padě, že kupuj&iacute;c&iacute; využije sv&eacute;ho pr&aacute;va vyžadovat odstraněn&iacute; vad zbož&iacute;<br />opravou a v z&aacute;ručn&iacute;m listu, je pro &uacute;čely z&aacute;ručn&iacute;ch oprav zbož&iacute; určen&yacute; podnikatel<br />odli&scaron;n&yacute; od prod&aacute;vaj&iacute;c&iacute;ho, jehož s&iacute;dlo či m&iacute;sto podnik&aacute;n&iacute; je ve stejn&eacute;m m&iacute;stě<br />jako v př&iacute;padě prod&aacute;vaj&iacute;c&iacute;ho nebo v m&iacute;stě pro kupuj&iacute;c&iacute;ho bliž&scaron;&iacute;m, uplatn&iacute;<br />kupuj&iacute;c&iacute; pr&aacute;vo na z&aacute;ručn&iacute; opravu u podnikatele uveden&eacute;ho v z&aacute;ručn&iacute;m listu.<br />Tyto informace lze př&iacute;padně nal&eacute;zt v dokladu, kter&yacute; nahrazuje z&aacute;ručn&iacute; list.<br />Kupuj&iacute;c&iacute; je opr&aacute;vněn vyžadovat z&aacute;ručn&iacute; opravu v autorizovan&yacute;ch servisn&iacute;ch<br />středisc&iacute;ch, jejichž seznam je přiložen k dokumentaci ke zbož&iacute;, př&iacute;padně jej<br />sděl&iacute; prod&aacute;vaj&iacute;c&iacute; na dotaz kupuj&iacute;c&iacute;ho.<br />Reklamace včetně odstraněn&iacute; vady mus&iacute; b&yacute;t vyř&iacute;zena bez zbytečn&eacute;ho odkladu,<br />nejpozději do 30 dnů ode dne uplatněn&iacute; reklamace, pokud se prod&aacute;vaj&iacute;c&iacute; s kupuj&iacute;c&iacute;m<br />nedohodnou na del&scaron;&iacute; lhůtě. Po uplynut&iacute; t&eacute;to lhůty se kupuj&iacute;c&iacute;mu přizn&aacute;vaj&iacute; stejn&aacute;<br />pr&aacute;va, jako by se jednalo o podstatn&eacute; poru&scaron;en&iacute; smlouvy.<br />Běh lhůty pro vyř&iacute;zen&iacute; reklamac&iacute; je pozastaven v př&iacute;padě, že prod&aacute;vaj&iacute;c&iacute; neobdržel<br />ve&scaron;ker&eacute; podklady potřebn&eacute; pro vyř&iacute;zen&iacute; reklamace (č&aacute;sti zbož&iacute;, jin&yacute;ch podkladů apod.).<br />Prod&aacute;vaj&iacute;c&iacute; je povinen si vyž&aacute;dat doplněn&iacute; podkladů od kupuj&iacute;c&iacute;ho v nejkrat&scaron;&iacute;<br />možn&eacute; době. Lhůta je od tohoto data pozastavena až do dod&aacute;n&iacute; vyž&aacute;dan&yacute;ch podkladů<br />kupuj&iacute;c&iacute;m.<br />Za situace, kdy je potřeba zbož&iacute; zaslat prod&aacute;vaj&iacute;c&iacute;mu nebo servisn&iacute;mu středisku,<br />si kupuj&iacute;c&iacute; ve vlastn&iacute;m z&aacute;jmu vede tak, aby bylo zbož&iacute; zabaleno do vhodn&eacute;ho a<br />dostatečně chr&aacute;n&iacute;c&iacute;ho obalov&eacute;ho materi&aacute;lu vyhovuj&iacute;c&iacute;ho n&aacute;rokům přepravy křehk&eacute;ho<br />zbož&iacute; a to včetně ve&scaron;ker&eacute;ho př&iacute;slu&scaron;enstv&iacute; a označ&iacute; z&aacute;silku př&iacute;slu&scaron;n&yacute;mi symboly.<br />Servisn&iacute; středisko po ř&aacute;dn&eacute;m vyř&iacute;zen&iacute; reklamace vyzve kupuj&iacute;c&iacute;ho k převzet&iacute;<br />opraven&eacute;ho zbož&iacute;.<br />N&aacute;rok na uplatněn&iacute; z&aacute;ruky zanik&aacute; v př&iacute;padě:<br />a) neodbornou instalac&iacute; (byla-li požadov&aacute;na instalace odborn&aacute; a kupuj&iacute;c&iacute; na to byl ř&aacute;dně<br />upozorněn ), nespr&aacute;vn&yacute;m zach&aacute;zen&iacute;m či obsluhou nebo použit&iacute;m v rozporu s n&aacute;vodem<br />na použit&iacute;.<br />b) použ&iacute;v&aacute;n&iacute;m zbož&iacute; v podm&iacute;nk&aacute;ch, kter&eacute; neodpov&iacute;daj&iacute; sv&yacute;mi parametry uveden&yacute;mi v<br />dokumentaci.<br />c) u zbož&iacute;, kter&eacute; bylo po&scaron;kozeno živelnou pohromou.<br />d) u zbož&iacute;, kter&eacute; bylo po&scaron;kozeno zapojen&iacute;m do s&iacute;tě neodpov&iacute;daj&iacute;c&iacute; př&iacute;slu&scaron;n&eacute; ČSN.<br />e) u zbož&iacute;, kter&eacute; bylo po&scaron;kozeno nadměrn&yacute;m (v rozporu s &uacute;čelem jeho užit&iacute; plynouc&iacute;m z<br />dokumentace a charakteru zbož&iacute;) zatěžov&aacute;n&iacute;m nebo použ&iacute;v&aacute;n&iacute;m v rozporu s podm&iacute;nkami<br />uveden&yacute;mi v dokumentaci.V př&iacute;padě prok&aacute;z&aacute;n&iacute; neopr&aacute;vněn&eacute; reklamace je prod&aacute;vaj&iacute;c&iacute; opr&aacute;vněn vyžadovat na klientovi,<br />kter&yacute; nen&iacute; spotřebitelem a kter&yacute; zbož&iacute; reklamoval, &uacute;hradu skutečně vynaložen&yacute;ch<br />prostředků k vyř&iacute;zen&iacute; reklamace (přepravn&eacute; do servisu a zpět).<br />V př&iacute;padě opr&aacute;vněn&eacute; - uznan&eacute; reklamaci m&aacute; kupuj&iacute;c&iacute; - spotřebitel n&aacute;rok na &uacute;hradu nutn&yacute;ch<br />n&aacute;kladů,<br />kter&eacute; mu vznikly v souvislosti s uplatněn&iacute;m pr&aacute;v z odpovědnosti za vady.<br />Při jak&eacute;koli n&aacute;v&scaron;těvě servisn&iacute;ho technika u kupuj&iacute;c&iacute;ho je třeba, aby byl vyhotoven<br />protokol o zji&scaron;těn&yacute;ch z&aacute;vad&aacute;ch a formě jejich odstraněn&iacute;.<br />Bez takov&eacute;hoto protokolu nen&iacute; n&aacute;v&scaron;těva servisn&iacute;ho technika br&aacute;na v potaz.<br />Prod&aacute;vaj&iacute;c&iacute; vyd&aacute; spotřebiteli p&iacute;semn&eacute; potvrzen&iacute; o tom, kdy spotřebitel uplatnil reklamaci,<br />co je jej&iacute;m obsahem a jak&yacute; způsob jej&iacute;ho vyř&iacute;zen&iacute; požaduje a to nejd&eacute;le do dvou pracovn&iacute;ch dn&iacute;<br />od převzet&iacute; zbož&iacute; k reklamaci.<br />D&aacute;le prod&aacute;vaj&iacute;c&iacute; vyd&aacute; spotřebiteli p&iacute;semn&eacute; potvrzen&iacute; o datu a způsobu vyř&iacute;zen&iacute; reklamace,<br />včetně potvrzen&iacute; o proveden&iacute; opravy a době jej&iacute;ho trv&aacute;n&iacute;.<br />Prod&aacute;vaj&iacute;c&iacute; informuje spotřebitele o způsobu vyř&iacute;zen&iacute; reklamace emailem, p&iacute;semně po&scaron;tou<br />či formou zpr&aacute;vy SMS do 30 dnů od přijet&iacute; reklamace.<br />Pro př&iacute;pad zam&iacute;tnut&eacute; reklamace prod&aacute;vaj&iacute;c&iacute; spotřebiteli vyd&aacute; p&iacute;semn&eacute; odůvodněn&iacute; tohoto zam&iacute;tnut&iacute;.<br />Tato povinnost se vztahuje i na jin&eacute; osoby určen&eacute; k proveden&iacute; opravy.</p>
<p>12. ODVOZ STAR&Eacute;HO SPOTŘEBIČE K LIKVIDACI</p>
<p>Odvoz star&eacute;ho spotřebiče k likvidaci<br />Pokud m&aacute; kupuj&iacute;c&iacute; z&aacute;jem o odvezen&iacute; star&eacute;ho elektrick&eacute;ho spotřebiče, lze prodejce kontaktovat při<br />koupi zbož&iacute;.<br />Ve&scaron;ker&eacute; odvezen&eacute; spotřebiče jsou ekologick&yacute;m způsobem likvidov&aacute;ny ve speci&aacute;ln&iacute;ch zař&iacute;zen&iacute;ch.<br />Spotřebič v tomto př&iacute;padě mus&iacute; m&iacute;t klient připraven&yacute; před domem k naložen&iacute; čist&yacute;,<br />odmrazen&yacute; a such&yacute;, aby se dal bez probl&eacute;mu naložit na vůz přepravce a nezpůsobil<br />&scaron;kody na dal&scaron;&iacute;m přepravovan&eacute;m zbož&iacute; dopravce.<br />Tato služba je nab&iacute;zena pro celou ČR za cenu 299,- Kč za spotřebič při<br />standartn&iacute;m doručen&iacute; zbož&iacute;.13. OCHRANA OSOBN&Iacute;CH &Uacute;DAJŮ, ZAS&Iacute;L&Aacute;N&Iacute;<br />OBCHODN&Iacute;CH SDĚLEN&Iacute;, COOKIES<br />Ochrana osobn&iacute;ch &uacute;dajů kupuj&iacute;c&iacute;ho, kter&yacute; je fyzickou osobou, je poskytov&aacute;na<br />z&aacute;konem č. 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů, ve zněn&iacute; pozděj&scaron;&iacute;ch předpisů.<br />Kupuj&iacute;c&iacute; souhlas&iacute; se zpracov&aacute;n&iacute;m těchto sv&yacute;ch osobn&iacute;ch &uacute;dajů: jm&eacute;no a př&iacute;jmen&iacute;,<br />adresa bydli&scaron;tě, identifikačn&iacute; č&iacute;slo, daňov&eacute; identifikačn&iacute; č&iacute;slo, adresa elektronick&eacute;<br />po&scaron;ty a telefonn&iacute; č&iacute;slo?(d&aacute;le společně v&scaron;e jen jako &bdquo;osobn&iacute; &uacute;daje&ldquo;).<br />Kupuj&iacute;c&iacute; souhlas&iacute; se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů prod&aacute;vaj&iacute;c&iacute;m, a to pro &uacute;čely<br />realizace pr&aacute;v a povinnost&iacute; z kupn&iacute; smlouvy a pro &uacute;čely veden&iacute; uživatelsk&eacute;ho &uacute;čtu.<br />Nezvol&iacute;-li kupuj&iacute;c&iacute; jinou možnost, souhlas&iacute; se zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů prod&aacute;vaj&iacute;c&iacute;m<br />tak&eacute; pro &uacute;čely zas&iacute;l&aacute;n&iacute; informac&iacute; a obchodn&iacute;ch sdělen&iacute; kupuj&iacute;c&iacute;mu. Souhlas se<br />zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů v cel&eacute;m rozsahu dle tohoto čl&aacute;nku nen&iacute; podm&iacute;nkou,<br />kter&aacute; by sama o sobě znemožňovala uzavřen&iacute; kupn&iacute; smlouvy.<br />Kupuj&iacute;c&iacute; bere na vědom&iacute;, že je povinen sv&eacute; osobn&iacute; &uacute;daje ( při objedn&aacute;vce proveden&eacute;<br />z webov&eacute;ho rozhran&iacute; obchodu) uv&aacute;dět spr&aacute;vně a pravdivě a že je povinen bez zbytečn&eacute;ho<br />odkladu informovat prod&aacute;vaj&iacute;c&iacute;ho o změně ve sv&yacute;ch osobn&iacute;ch &uacute;daj&iacute;ch.<br />Zpracov&aacute;n&iacute;m osobn&iacute;ch &uacute;dajů kupuj&iacute;c&iacute;ho může prod&aacute;vaj&iacute;c&iacute; pověřit třet&iacute; osobu,<br />jakožto zpracovatele. Kromě osob dopravuj&iacute;c&iacute;ch zbož&iacute; nebudou osobn&iacute; &uacute;daje<br />prod&aacute;vaj&iacute;c&iacute;m bez předchoz&iacute;ho souhlasu kupuj&iacute;c&iacute;ho před&aacute;v&aacute;ny třet&iacute;m osob&aacute;m.<br />Osobn&iacute; &uacute;daje budou zpracov&aacute;v&aacute;ny po dobu neurčitou. Osobn&iacute; &uacute;daje budou<br />zpracov&aacute;v&aacute;ny v elektronick&eacute; podobě automatizovan&yacute;m způsobem nebo v ti&scaron;těn&eacute;<br />podobě neautomatizovan&yacute;m způsobem.<br />Kupuj&iacute;c&iacute; potvrzuje, že poskytnut&eacute; osobn&iacute; &uacute;daje jsou přesn&eacute; a že byl poučen o tom,<br />že se jedn&aacute; o dobrovoln&eacute; poskytnut&iacute; osobn&iacute;ch &uacute;dajů.<br />V př&iacute;padě, že by se kupuj&iacute;c&iacute; domn&iacute;val, že prod&aacute;vaj&iacute;c&iacute; nebo zpracovatel prov&aacute;d&iacute;<br />zpracov&aacute;n&iacute; jeho osobn&iacute;ch &uacute;dajů, kter&eacute; je v rozporu s ochranou soukrom&eacute;ho a osobn&iacute;ho<br />života kupuj&iacute;c&iacute;ho nebo v rozporu se z&aacute;konem, zejm&eacute;na jsou-li osobn&iacute; &uacute;daje nepřesn&eacute; s<br />ohledem na &uacute;čel jejich zpracov&aacute;n&iacute;, může:<br />- pož&aacute;dat prod&aacute;vaj&iacute;c&iacute;ho nebo zpracovatele o vysvětlen&iacute;,<br />- požadovat, aby prod&aacute;vaj&iacute;c&iacute; nebo zpracovatel odstranil takto vznikl&yacute; stav.<br />Pož&aacute;d&aacute;-li kupuj&iacute;c&iacute; o informaci o zpracov&aacute;n&iacute; sv&yacute;ch osobn&iacute;ch &uacute;dajů, je mu prod&aacute;vaj&iacute;c&iacute;<br />povinen tuto informaci předat. Prod&aacute;vaj&iacute;c&iacute; m&aacute; pr&aacute;vo za poskytnut&iacute; informace podle<br />předchoz&iacute; věty požadovat přiměřenou &uacute;hradu nepřevy&scaron;uj&iacute;c&iacute; n&aacute;klady nezbytn&eacute; na poskytnut&iacute;informace.<br />Kupuj&iacute;c&iacute; souhlas&iacute; se zas&iacute;l&aacute;n&iacute;m informac&iacute; souvisej&iacute;c&iacute;ch se zbož&iacute;m, službami nebo<br />podnikem prod&aacute;vaj&iacute;c&iacute;ho na elektronickou adresu kupuj&iacute;c&iacute;ho a d&aacute;le souhlas&iacute; se<br />zas&iacute;l&aacute;n&iacute;m obchodn&iacute;ch sdělen&iacute; prod&aacute;vaj&iacute;c&iacute;m na elektronickou adresu kupuj&iacute;c&iacute;ho.<br />Kupuj&iacute;c&iacute; souhlas&iacute; s ukl&aacute;d&aacute;n&iacute;m tzv. cookies na jeho poč&iacute;tač. V př&iacute;padě, že je n&aacute;kup<br />na webov&eacute; str&aacute;nce možn&eacute; prov&eacute;st a z&aacute;vazky prod&aacute;vaj&iacute;c&iacute;ho z kupn&iacute; smlouvy plnit,<br />aniž by doch&aacute;zelo k ukl&aacute;d&aacute;n&iacute; tzv. cookies na poč&iacute;tač kupuj&iacute;c&iacute;ho, může kupuj&iacute;c&iacute;<br />souhlas podle předchoz&iacute; věty kdykoliv odvolat.<br />Kupuj&iacute;c&iacute;mu může b&yacute;t doručov&aacute;no obchodn&iacute; sdělen&iacute; na adresu elektronick&eacute; po&scaron;ty uvedenou v jeho<br />objedn&aacute;vce.<br />Ve smyslu ustanoven&iacute; &sect; 1820 odst. 1) p&iacute;smeno j) občansk&eacute;ho z&aacute;kon&iacute;ku sděluje prod&aacute;vaj&iacute;c&iacute;,<br />že s mimosoudn&iacute; st&iacute;žnost&iacute; se spotřebitel může obr&aacute;tit na kontroln&iacute; org&aacute;n, kter&yacute;m je Česk&aacute;<br />obchodn&iacute; inspekce. Česk&aacute; obchodn&iacute; inspekce vyřizuje mimosoudn&iacute; st&iacute;žnosti spotřebitelů<br />způsobem a za podm&iacute;nek stanoven&yacute;ch př&iacute;slu&scaron;n&yacute;mi pr&aacute;vn&iacute;mi předpisy.</p>
<p>&nbsp;</p>
<h2>16. Z&Aacute;VĚREČN&Eacute; USTANOVEN&Iacute;</h2>
<p>Obchodn&iacute; podm&iacute;nky jsou platn&eacute; pro v&scaron;echny obchodn&iacute; př&iacute;pady uzav&iacute;ran&eacute; mezi společnost&iacute;<br />OKNA s.r.o. a kupuj&iacute;c&iacute;m.</p>
<p>Kupuj&iacute;c&iacute;m může b&yacute;t fyzick&aacute; osoba i pr&aacute;vnick&aacute; osoba. Pr&aacute;vn&iacute; vztahy vznikl&eacute; na z&aacute;kladě uzavřen&eacute; smlouvy se ř&iacute;d&iacute; v př&iacute;padě spotřebitele zejm&eacute;na občansk&yacute;m z&aacute;kon&iacute;kem a v př&iacute;padě fyzick&eacute; či pr&aacute;vnick&eacute; osoby, kter&aacute; nen&iacute; spotřebitelem obchodn&iacute;m z&aacute;kon&iacute;kem.</p>
<p>Společnost OKNA s.r.o. si vyhrazuje pr&aacute;vo obchodn&iacute; podm&iacute;nky, v z&aacute;vislosti na změně př&iacute;slu&scaron;n&yacute;ch pr&aacute;vn&iacute;ch norem a obchodn&iacute; politice společnosti, měnit. Obchodn&iacute; podm&iacute;nky jsou platn&eacute; a &uacute;činn&eacute; ve zněn&iacute; uveden&eacute;m na internetov&yacute;ch str&aacute;nk&aacute;ch prod&aacute;vaj&iacute;c&iacute;ho v den odesl&aacute;n&iacute; elektronick&eacute; objedn&aacute;vky kupuj&iacute;c&iacute;m.</p>
<p>Obchodn&iacute; podm&iacute;nky nab&yacute;j&iacute; &uacute;činnosti dne 1.1.2015</p>
<hr />