<h1><strong>Z&aacute;vazn&eacute; pr&aacute;vne podmienky pre zad&aacute;vateľov<br /></strong></h1>
<ol>
<li>Bod A</li>
<li>Bod B</li>
</ol>
<p>Tento dokument može editovať administr&aacute;tor na tomto linku <a href="edit.php">edit.php</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />