blur1
{
 filter: alpha(opacity=0, finishopacity=70, style=1, startx=10, starty=20, finishx=40, finishy=60) 
}


a.tlacitko:visited,
a.tlacitko:hover,
a.tlacitko,
input.tlacitko
{
	cursor: hand;
	Background-color: transparent;
	border: 0px dashed gray;
	FONT-WEIGHT: bold;
	COLOR: gray;
	padding: 0em 0.3em 0em 1.5em;

	background-position: 8% 50%;
	background-repeat: no-repeat;
}

BODY
{
}

.menuBar
{
    POSITION: absolute;
    RIGHT: 20px;
    WIDTH: 100%px;
    FLOAT: left;
    TOP: 43px;	
    z-index: 40;
}

.Bar
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 10px;
    BACKGROUND-COLOR: rgb(73, 85, 120);
    FLOAT: left;
    WIDTH: 100%px;
    CURSOR: hand;
    TEXT-INDENT: 5px;
    COLOR: white;
    POSITION: static;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    z-index: 50;
}

.barOver
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 10px;
    BACKGROUND-COLOR: white;
    FLOAT: left;
    WIDTH: 100%px;
    CURSOR: hand;
    COLOR: rgb(73, 85, 120);
    TEXT-INDENT: 5px;
    POSITION: static;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    z-index: 50;
}


.menu
{
    BACKGROUND-COLOR: white;
    COLOR: rgb(73, 85, 120);

    WIDTH: 100%px;
    LINE-HEIGHT: 140%;
    POSITION: absolute;
    z-index: 60;

    BORDER-RIGHT:  rgb(73, 85, 120) 1px outset;
    BORDER-TOP:    rgb(73, 85, 120) 1px outset;
    BORDER-LEFT:   rgb(73, 85, 120) 1px outset;
    BORDER-BOTTOM: rgb(73, 85, 120) 1px outset;

}

.menuItem
{  
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 10px;
    WIDTH: 100%px;
    CURSOR: hand;
    LINE-HEIGHT: 20px;
    FONT-WEIGHT: bold;
    z-index: 50;
}

.ItemMouseOver
{
    BACKGROUND-COLOR: rgb(73, 85, 120);
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 10px;
    WIDTH: 100%px;
    CURSOR: hand;
    COLOR: white;
    LINE-HEIGHT: 20px;
    FONT-WEIGHT: bold;
    z-index: 50;
}

.ItemMouseOut
{
    WIDTH: 100%
    z-index: 50;
}

.Arrow
{
    FLOAT: right;
    FONT-FAMILY: Webdings;
    POSITION: absolute;
    TEXT-ALIGN: left;
    z-index: 50;
}

a
{
	color: black;
	text-decoration: none;
        font-weight: normal;
}

a:link
{
}

a:visited
{
        font-weight: bold;
	color: red;
}

a:active
{
        font-weight: bold;
	color: red;
}

a:hover
{
	color: red;
}

